/*Variables*/

    $principal:#FFFFFF  ;
    $secondary:#D49977;
    $colorsoporte: #C1714C;
    $font-color1:#C1714C;
    $font-color2: white;
    $font-primary:'Montserrat', sans-serif;
    $font-secondary:"Montserrat", cursive;
    $text-lg: 32px;  

   /*Maps button colors*/
   
   $button-color: (
       fondoclaro: #CFA592,
       fondoscuro: #C1714C,
       letranegra: black,
       letrablanca:white,
       );

  @mixin margins($top,$right,$bottom,$left) {
      margin-top:$top;
      margin-right:$right;
      margin-bottom:$bottom;
      margin-left:$left;
  }     
