@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800;900&display=swap');

/*Normalize*/

*,
*::after,
*::before {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Globals*/

html, body {
    font-family: $font-primary;
    color: $font-color1;
    font-size: 62.5%;
    background-color: $principal;
    margin:0px;  
    min-height: 100vh;
  }
  
  ul{
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: $font-color2;
    display: inline-block;
  }

  